# Ignore temporary and history files
.history/
.hist_pro/

# Ignore specific HTML or JS files
index2.html
GOOGLE_APP_SCRIPT.JS

# Ignore documentation and notes
Advanced_soulutions.md
API_UDATE
Project Summary.md


# Ignore build output
disty/
scripts/
node_modules/
readme_im/
